<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <GameDir>F:/SteamLibrary/steamapps/common/Casualties Unknown Demo</GameDir>
        <ManagedDir>$(GameDir)/CasualtiesUnknown_Data/Managed</ManagedDir>
        <CUCoreLibDll>$(GameDir)/BepInEx/plugins/CUCoreLib.dll</CUCoreLibDll>
        <BarkDll>$(GameDir)/BepInEx/plugins/Bark/Bark.dll</BarkDll>
        <BuildModDll>$(GameDir)/BepInEx/plugins/BuildMod/BuildMod.dll</BuildModDll>
        <CustomStructuresDll>$(GameDir)/BepInEx/plugins/Custom Structures.dll</CustomStructuresDll>
    </PropertyGroup>
</Project>
